@font-face {
  font-family: "nunito";
  src: url("Nunito-Regular.ttf") format("truetype"),
    url("nunito-regular.woff2") format("woff2"),
    url("nunito-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.buttonspecial {
  background-color: white;

  margin-top: 20px;
  border: 1px solid rgb(212, 32, 32);
  margin-right: 30px;
  padding: 10px;
  font-size: 40px;
}

.buttonspecial:hover {
  cursor: pointer;

  color: white;
  margin-top: 20px;
  border: 1px solid rgb(212, 32, 32);
  background-color: red;
  margin-right: 30px;
  padding: 10px;
  font-size: 40px;
}

#container{
  text-align: center;
}


